<?php echo $header; ?>
<div id="home" class="hide">1</div>
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
  </div>
</div>
<!-- class="<?php echo $class; ?>" -->
<div id="content">
<div class="cont_slide">
  <?php echo $content_top; ?>
  <?php echo $content_bottom; ?>
</div> 
<?php echo $column_right; ?>
<?php echo $footer; ?>