
/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px)
	.input-group .form-control[name^=quantity]
		width 40px
	    padding 6px
	button.btn_refresh
		padding 10px
	.bar_header
		height hheader-mobile
	header
		height hheader-mobile
		background color-epsilon
		.bg_nav
		.first_nav 
			display none
		.nav-device
			display block
		.nav_cart_mobile
			display block
		#logo
			margin 10px 0	 
			text-align center
			a
				display inline-block
			img
				height 50px
				margin auto
	
	/* Home */
	.cont_slide
		margin 0 0 20px
	.title_home
		font(20px)
		margin-top 20px
	
	/* PRODUCT */
	.product-thumb h4
		font-size 20px
	
	.mt-30
		margin-top 10px

	footer
	.imaginamos
		text-align center
	header.nav > ul >li > a
		padding 10px 7px 


@media only screen and (max-width: 992px)
	
	header .nav > ul >li > a
		padding 10px 7px
		      	
	/* Home */
	.title_home
		font(20px)
		margin-top 20px    	

	
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) 
	header .categories_header .container
		width 900px
	header .nav > li > a
		padding 10px
