<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-advertising" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-advertising" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
                            <?php if ($error_name) { ?>
                            <div class="text-danger"><?php echo $error_name; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                <?php if ($status) { ?>
                                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                <option value="0"><?php echo $text_disabled; ?></option>
                                <?php } else { ?>
                                <option value="1"><?php echo $text_enabled; ?></option>
                                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <table id="images" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-left"><?php echo $entry_title; ?></td>
                                <td class="text-left">Texto</td>
                                <td class="text-left"><span data-toggle="tooltip" title="<?php echo $entry_link_help; ?>"><?php echo $entry_link; ?></span></label></td>
                                <td class="text-left"><?php echo $entry_image; ?></td>
                                <td class="text-left"><?php echo $entry_image; ?> 2</td>
                                <td class="text-right"><?php echo $entry_sort_order; ?></td>
                                <td class="text-right">Tienda</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $image_row = 0; ?>
                            <?php foreach ($advertising_images as $advertising_image) { ?>
                            <tr id="image-row<?php echo $image_row; ?>">
                                <td class="text-left"><?php foreach ($languages as $language) { ?>
                                    <div class="input-group pull-left"><span class="input-group-addon"><img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" title="<?php echo $language['name']; ?>" /> </span>
                                        <input type="text" name="advertising_image[<?php echo $image_row; ?>][advertising_image_description][<?php echo $language['language_id']; ?>][title]" value="<?php echo isset($advertising_image['advertising_image_description'][$language['language_id']]) ? $advertising_image['advertising_image_description'][$language['language_id']]['title'] : ''; ?>" placeholder="<?php echo $entry_title; ?>" class="form-control" />
                                    </div>
                                    <?php if (isset($error_advertising_image[$image_row][$language['language_id']])) { ?>
                                    <div class="text-danger"><?php echo $error_advertising_image[$image_row][$language['language_id']]; ?></div>
                                    <?php } ?>
                                    <?php } ?></td>
                                <td class="text-left"><?php foreach ($languages as $language) { ?>
                                    <div class="input-group pull-left"><span class="input-group-addon"><img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" title="<?php echo $language['name']; ?>" /> </span>
                                        <input type="text" name="advertising_image[<?php echo $image_row; ?>][advertising_image_description][<?php echo $language['language_id']; ?>][text]" value="<?php echo isset($advertising_image['advertising_image_description'][$language['language_id']]) ? $advertising_image['advertising_image_description'][$language['language_id']]['text'] : ''; ?>" placeholder="Texto" class="form-control" />
                                    </div>
                                    <?php } ?></td>
                                <td class="text-left" style="width: 30%;"><input type="text" name="advertising_image[<?php echo $image_row; ?>][link]" value="<?php echo $advertising_image['link']; ?>" placeholder="<?php echo $entry_link; ?>" class="form-control" /></td>
                                <td class="text-left"><a href="" id="thumb-image<?php echo $image_row; ?>" data-toggle="image" class="img-thumbnail"><img src="<?php echo $advertising_image['thumb']; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a>
                                    <input type="hidden" name="advertising_image[<?php echo $image_row; ?>][image]" value="<?php echo $advertising_image['image']; ?>" id="input-image<?php echo $image_row; ?>" /></td>
                                <td class="text-left"><a href="" id="thumb-image2<?php echo $image_row; ?>" data-toggle="image" class="img-thumbnail"><img src="<?php echo $advertising_image['thumb2']; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a>
                                    <input type="hidden" name="advertising_image[<?php echo $image_row; ?>][image2]" value="<?php echo $advertising_image['image2']; ?>" id="input-image2<?php echo $image_row; ?>" /></td>
                                <td class="text-right" style="width: 10%;"><input type="text" name="advertising_image[<?php echo $image_row; ?>][sort_order]" value="<?php echo $advertising_image['sort_order']; ?>" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>
                                <td class="text-right" style="width: 10%;">
                                    <select name="advertising_image[<?php echo $image_row; ?>][store_id]" class="form-control">
                                        <option value="0"><?php echo $text_default; ?></option>
                                        <?php foreach ($stores as $store) { ?>
                                        <?php if ($store['store_id'] == $advertising_image['store_id']) { ?>
                                        <option value="<?php echo $store['store_id']; ?>" selected="selected"><?php echo $store['name']; ?></option>
                                        <?php } else { ?>
                                        <option value="<?php echo $store['store_id']; ?>"><?php echo $store['name']; ?></option>
                                        <?php } ?>
                                        <?php } ?>
                                    </select>
                                </td>
                                <td class="text-left">
                                    <button type="button" onclick="$('#image-row<?php echo $image_row; ?>, .tooltip').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger">
                                        <i class="fa fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <?php $image_row++; ?>
                            <?php } ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"></td>
                                <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="<?php echo $button_advertising_add; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
  var image_row = <?php  echo $image_row; ?>;
                function addImage() {
                    html = '<tr id="image-row' + image_row + '">';
                    html += '  <td class="text-left">';
                            <?php  foreach ($languages as $language) { ?>
                            html += '    <div class="input-group">';
                    html += '      <span class="input-group-addon"><img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" title="<?php echo $language['name']; ?>" /></span><input type="text" name="advertising_image[' + image_row + '][advertising_image_description][<?php echo $language['language_id']; ?>][title]" value="" placeholder="<?php echo $entry_title; ?>" class="form-control" />';
                            html += '    </div>';
                            <?php  } ?>
                            html += '  </td>';
                    html += '  <td class="text-left">';
                        <?php  foreach ($languages as $language) { ?>
                                html += '    <div class="input-group">';
                                html += '      <span class="input-group-addon"><img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" title="<?php echo $language['text']; ?>" /></span><input type="text" name="advertising_image[' + image_row + '][advertising_image_description][<?php echo $language['language_id']; ?>][text]" value="" placeholder="<?php echo $entry_title; ?>" class="form-control" />';
                                html += '    </div>';
                            <?php  } ?>
                            html += '  </td>';
                    html += '  <td class="text-left" style="width: 30%;"><input type="text" name="advertising_image[' + image_row + '][link]" value="" placeholder="<?php echo $entry_link; ?>" class="form-control" /></td>';
                    html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="<?php echo $placeholder; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><input type="hidden" name="advertising_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
                    html += '  <td class="text-left"><a href="" id="thumb-image2' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="<?php echo $placeholder; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><input type="hidden" name="advertising_image[' + image_row + '][image2]" value="" id="input-image2' + image_row + '" /></td>';
                    html += '  <td class="text-right" style="width: 10%;"><input type="text" name="advertising_image[' + image_row + '][sort_order]" value="" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>';
                    html += '  <td class="text-right" style="width: 10%;">'+
                                    '<select name="advertising_image[' + image_row + '][store_id]" class="form-control">'+
                                        '<option value="0"><?php echo $text_default; ?></option>'+
                                        '<?php foreach ($stores as $store) { ?>'+
                                        '<?php if (isset($advertising_image["store_id"]) && $store["store_id"] == $advertising_image["store_id"]) { ?>'+
                                        '<option value="<?php echo $store["store_id"]; ?>" selected="selected"><?php echo $store["name"]; ?></option>'+
                                        '<?php } else { ?>'+
                                        '<option value="<?php echo $store["store_id"]; ?>"><?php echo $store["name"]; ?></option>'+
                                        '<?php } ?>'+
                                        '<?php } ?>'+
                                    '</select>'+
                                '</td>';
                    html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row + '\').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
                    html += '</tr>';

                    $('#images tbody').append(html);

                    image_row++;
                }
        //--></script>
</div>
<?php echo $footer; ?>
